<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Fragment: Footer -->
    <footer th:fragment="footer" class="text-white py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                    <h5 class="fw-bold mb-3">
                        <i class="fas fa-skating me-2"></i>Club Paen
                    </h5>
                    <p class="text-white-50">Más de 30 años enseñando patinaje en Envigado. Pasión, disciplina y excelencia en cada clase.</p>
                    <div class="mt-3">
                        <a href="https://facebook.com/clubpaen" class="text-white me-3 fs-4" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://instagram.com/clubpaen" class="text-white me-3 fs-4" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://youtube.com/@clubpaen" class="text-white me-3 fs-4" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a href="https://twitter.com/clubpaen" class="text-white fs-4" target="_blank"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="fw-bold mb-3">Enlaces</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a th:href="@{/inicio}" class="text-white-50 text-decoration-none"><i class="fas fa-chevron-right me-2"></i>Inicio</a></li>
                        <li class="mb-2"><a th:href="@{/programas}" class="text-white-50 text-decoration-none"><i class="fas fa-chevron-right me-2"></i>Programas</a></li>
                        <li class="mb-2"><a th:href="@{/horarios}" class="text-white-50 text-decoration-none"><i class="fas fa-chevron-right me-2"></i>Horarios</a></li>
                        <li class="mb-2"><a th:href="@{/galeria}" class="text-white-50 text-decoration-none"><i class="fas fa-chevron-right me-2"></i>Galería</a></li>
                        <li class="mb-2"><a th:href="@{/contacto}" class="text-white-50 text-decoration-none"><i class="fas fa-chevron-right me-2"></i>Contacto</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="fw-bold mb-3">Programas</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a th:href="@{/programas}" class="text-white-50 text-decoration-none"><i class="fas fa-child me-2"></i>Iniciación (4-8 años)</a></li>
                        <li class="mb-2"><a th:href="@{/programas}" class="text-white-50 text-decoration-none"><i class="fas fa-user me-2"></i>Intermedio (9-14 años)</a></li>
                        <li class="mb-2"><a th:href="@{/programas}" class="text-white-50 text-decoration-none"><i class="fas fa-star me-2"></i>Competitivo (10+ años)</a></li>
                        <li class="mb-2"><a th:href="@{/programas}" class="text-white-50 text-decoration-none"><i class="fas fa-trophy me-2"></i>Adultos (18+ años)</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="fw-bold mb-3">Contacto</h5>
                    <ul class="list-unstyled text-white-50">
                        <li class="mb-2"><i class="fas fa-map-marker-alt me-2"></i>Envigado, Antioquia, Colombia</li>
                        <li class="mb-2"><i class="fas fa-phone me-2"></i>(604) 123-4567</li>
                        <li class="mb-2"><i class="fas fa-envelope me-2"></i>info@clubpaen.com</li>
                        <li class="mb-2"><i class="fas fa-clock me-2"></i>Lun-Sáb: 8:00 - 20:00</li>
                    </ul>
                </div>
            </div>
            <hr class="my-4 bg-white opacity-25">
            <div class="text-center">
                <p class="mb-0 text-white-50">&copy; 2025 Club Paen - Escuela de Patinaje Envigado. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
    <!-- Fin fragment: footer -->
</body>
</html>
