<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <i class="fas fa-skating"></i> Club Paen
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${activePage == 'index'} ? 'active' : ''" 
                           href="/" th:href="@{/}">
                            <i class="fas fa-home"></i> Inicio
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${activePage == 'mision'} ? 'active' : ''" 
                           href="/mision" th:href="@{/mision}">
                            <i class="fas fa-bullseye"></i> Misión
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${activePage == 'vision'} ? 'active' : ''" 
                           href="/vision" th:href="@{/vision}">
                            <i class="fas fa-eye"></i> Visión
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${activePage == 'valores'} ? 'active' : ''" 
                           href="/valores" th:href="@{/valores}">
                            <i class="fas fa-heart"></i> Valores
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${activePage == 'servicios'} ? 'active' : ''" 
                           href="/servicios" th:href="@{/servicios}">
                            <i class="fas fa-list"></i> Servicios
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${activePage == 'eventos'} ? 'active' : ''" 
                           href="/eventos" th:href="@{/eventos}">
                            <i class="fas fa-calendar"></i> Eventos
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary text-white ms-2" 
                           th:classappend="${activePage == 'registro'} ? 'active' : ''" 
                           href="/registro" th:href="@{/registro}">
                            <i class="fas fa-user-plus"></i> Inscribite
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <footer th:fragment="footer" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h5><i class="fas fa-map-marker-alt"></i> Ubicación</h5>
                    <p>Envigado, Antioquia<br>Colombia</p>
                </div>
                
                <div class="col-md-4 mb-3">
                    <h5><i class="fas fa-phone"></i> Contacto</h5>
                    <p>
                        Teléfono: (604) 123-4567<br>
                        Email: info@clubpaen.com
                    </p>
                </div>
                
                <div class="col-md-4 mb-3">
                    <h5><i class="fas fa-share-alt"></i> Redes Sociales</h5>
                    <p>
                        <a href="#" class="text-white me-3"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="#" class="text-white me-3"><i class="fab fa-instagram fa-2x"></i></a>
                        <a href="#" class="text-white"><i class="fab fa-youtube fa-2x"></i></a>
                    </p>
                </div>
            </div>
            
            <hr class="bg-white">
            <p>&copy; 2025 Club Paen - Escuela de Patinaje. Todos los derechos reservados.</p>
        </div>
    </footer>
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
